@font-face {
    font-family: 'Proxima Nova';
    src: url('./proxima-nova.otf') format('opentype');
  }

.menu {
    height:100vh;
    width:100vw;
    background:linear-gradient(to bottom,#ffc832 10%,#ff7d7d 90%);
    position:absolute;
    z-index: 1006;
    color: #4b6464;
    font-family:'Proxima Nova';
    text-align: center;
}

.menu__container {
    width:80%;
    flex-direction: column;
    height:75%;
    margin:110px auto;
    display:flex;
    font-size: 21px;
}

.menu__about {
    width:100%;
    font-weight:400px;
}

.menu__right {
    margin-top:70px;
    width:100%;
}

.menu__grid {
    margin-top:40px;
    display:grid;
    grid-template-columns: repeat(auto-fit, 32%);
    gap:10px;
}